body
{
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*********************************************************************/

.Log-in
{
    border: 5px solid palevioletred;

}
.saisi
{
    padding: 50px 50px;
}

.saisi ul li
{
    list-style: none;
}
.titre
{
    font-size:x-large;
    color:palevioletred;
}
.saisi input
{
    font-size: xx-large;
    border-radius: 10px;
    width: 450px;
    margin-top: 50px;
}
.sauv
{
    background: linear-gradient(to right,#FB7B30,#A831A5);
    color: white;
    border-radius: 5px;
    border:none;

}
/*****************************************************************************/
@media (max-width:1024px) and (min-width:1500px)
{
    
}
