.corps
{
    margin: 0 90px;
    
    
  
}

/************************************************************style  nav************************************************************/

.navigation
{
    display: flex;
    height: 20px;
}

a
{
    text-decoration: none;
    color: black;
}
 .option
{
    margin: 0 60px;
    display: flex;
}

nav select
{
    margin: 0 30px;
    border: none;
}

.inscription
{
    margin:0 75px;
    display:flex;
}
 nav ul li a
 {
     margin: 0 30px;
     text-decoration: none;
 }

nav ul li
{
    list-style:none;
}
button
{
    margin: 0 20px;
    
}
.s button
{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    width: 70px;
}
.l button
{
    border: none;
    color: black;
    background-color: white;
    width: 70px;
}
.s a
{
    color: white;
}

/****************************************************************************style header*************************************************************************/
header
{
   
    background-color: black;
    
    color: white;
    height: 250px;
   

    
    
}
.referral
{
    
    margin: 40px 30px;
}
.fg
{
    display: flex;
    
}
.find select
{ 
    font-size: 11px;
    margin: 0 10px;
    height: 30px;
    width: 290px;
    border: none;
    border-radius: 3px;

}

.get input
{
    font-size: 11px;
    background: linear-gradient(to right,#FB7B30,#A831A5);
    color: white;
    margin: 0 1px;
    height: 30px; 
    width: 150px;
    border-radius: 5px;
    border:none;

}

.bear img
{
   
    display: flex;
    width: 370px;
    height: 340px;
    margin-left: 160px;
    margin-top: -180px;

}
/*********************************************************************************Style_Logo****************************************************************************/
.a 
{
    
    margin: 80px 0;
}
.logo 
{
    gap: 50px;
    display: flex;
    
}
.logo img
{
    width: 140px;
    height: 50px;
   
}
/****************************************************************************Style Cash Rewards****************************************************************************/
.b
{
    
    margin: 80px 0;
    display: flex;
}
.gauche
{
    width: 30%;
}
.texte
{
    width: 40%;
    padding: 40PX 40px;
}
.droite
{
    width: 30%;  
}
.gauche img
{
    width: 100%;
    height: 520px;
}
.texte .t
{
    width: 100%;

}
.droite img
{
   width: 100%; 
   height: 520px;
}

.texte h2 
{
    font-size: 15px;
}
.t img
{
    width: 30px;
    height: 30px;
   
}
.texte .far
{
    font-size: 15px;
    border-radius: 50%;
    background:linear-gradient(to right,#FB7B30,#A831A5) ;
    color: white;
    border: none;
}
.texte p
{
    font-size: 15px;
}
.texte input
{
    background:linear-gradient(to right, #FB7B30,#A831A5 ) ;
    color: white;
    margin: 40PX 115px;
    border: none;
    border-radius: 5px;
    padding: 8PX 10px ;
}

/*****************************************************************************Style_Links******************************************************************************/
.c
{
    background-color: black;
    color: white;
    display: flex;
    height: 250px;
    padding: 6px 20px;
}

.photo img
{
   width: 550px; 
   height: 350px;
   margin-top: -45px;
   margin-left: 70px;
}

.links h1
{
    font-size: 30px;
    font-family:sans-serif;
}
.links h2
{
    font-size: 15px;
    font-family:sans-serif;
}
.far
{
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.google
{
    padding: 10PX 10px;
    width: 165px;
    font-size: 10px;
    background: white;
    border: none;
    border-radius: 3px;
}
.EF
{
    padding: 10PX 10px;
    background: linear-gradient(to right, #FB7B30,#A831A5 ) ;
    color: white;
    width: 150px;
    font-size: 10px;
    border: none;
    border-radius: 3px;
}
/****************************************************************************Style_Grid*******************************************************************************/
.d
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 290px 210px 280px 230px;
    grid-gap: 17px;
    grid-template-rows: auto auto;
    
    
}
.Pa 
{
width: 290px;
grid-column: 1 / 2;
grid-row: 1 / 2;
}

.Pb 
{
width: 210px;
grid-column: 2/ 3;
grid-row: 1 / 3;
}

.Pc 
{
width: 280px;
grid-column: 3 / 4;
grid-row: 1 / 2;
}

.Pd
{
width: 230px;
grid-column: 4 / 5;
grid-row: 1 / 2;
}

.Pe
{
margin-top: -40px;
margin-left: 60px;
width: 230px;
grid-column: 1 / 2;
grid-row: 2 / 3;
}

.Pf 
{
width: 280px;
grid-column: 3 / 4;
grid-row: 2 / 3;
}

.Pg 
{
margin-top: -50px;   
width: 228px;
grid-column: 4 / 5;
grid-row: 2 / 3;
}
/******************************************************************************Style_Footer**************************************************************************/
.e 
{
    background-color: black;
    color: white;
    display:  flex;
    padding: 40px;
    margin-top: 60px;
    height: 140px;
    
}


.p
{
   padding-right:  80px;
   font-family: sans-serif;
   font-size: 13px;

}
.fa {
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 5px 5px;
}

.e ul
{
    list-style: none;
    margin: 0 20px;
    font-size: 13px;
    font-family: sans-serif;
}

.e ul li
{
    margin: 10px 10px;
}

.copy-right
{
    color: gray;
    font-size: 10px;
    text-align: center;
}



/*******************************************************************************Responsivité*************************************************************************/
/**********************************************************************************mobile**************************************************************/
@media (max-width: 360px)
{
    .corps {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 100%;
    }
    .navigation {
        display: flex;
        height: 20px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 200PX;
    }
    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-right: 100px;
    }
    nav ul li {
        list-style: none;
        margin-top: 10px;
    }
    nav select {
        border: 1px solid black;
        margin-top: 10px;
        border-radius: 5px;
    }
    .inscription {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .l button {
        border: 1px solid black;
        color: black;
        background-color: white;
        width: 70px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .s button {
        border-radius: 5px;
        border: none;
        color: white;
        background-color: black;
        width: 70px;
        margin-top: 10px;
    }
    header {
        background-color: black;
        color: white;
        height: 330PX;
        width: 100%;
        padding: 21px;
    }
    .referral {
        margin: 40px 0px;
    }
    .fg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .find select {
        font-size: 11px;
        margin: 0 10px;
        height: 30px;
        width: 290px;
        border: none;
        border-radius: 3px;
    }
    .get input {
        font-size: 11px;
        background: linear-gradient(to right,#FB7B30,#A831A5);
        color: white;
        margin: 0 1px;
        height: 30px;
        width: 150px;
        border-radius: 5px;
        border: none;
    }
    .get
    {
        margin-top: 10px;
    }

   .bear img {
    margin-top: 42px;
    display: flex;
    width: 100%;
    height: 340px;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
}
/*********************************************************************************Style_Logo****************************************************************************/
.a {
    margin-top: 390PX;
}
.logo {
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 100%;
    height: 100%;
}
/****************************************************************************Style Cash Rewards****************************************************************************/
.b {
    margin: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte {
    padding: 40PX 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauche img {
    width: 100%;
}
.gauche
{
    width: 100%;
}
.droite
{
    width: 100%;
}

.texte .t
{
    width: 100%;

}
.droite img
{
   width: 100%; 
  
}


.texte h2 
{
    font-size: 15px;
}
.t img
{
    width: 30px;
    height: 30px;
   
}
.texte .far
{
    font-size: 15px;
    border-radius: 50%;
    background:linear-gradient(to right,#FB7B30,#A831A5) ;
    color: white;
    border: none;
}
.texte p
{
    font-size: 15px;
}
.texte input
{
    background:linear-gradient(to right, #FB7B30,#A831A5 ) ;
    color: white;
    margin: 40PX 115px;
    border: none;
    border-radius: 5px;
    padding: 8PX 10px ;
}

/*****************************************************************************Style_Links******************************************************************************/
.c {
    background-color: black;
    color: white;
    display: flex;
    height: 370px;
    padding: 6px 20px;
    flex-direction: column;
    align-items: center;
}
.links
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.photo img {
  display: none;
}

.links h1
{
    font-size: 30px;
    font-family:sans-serif;
}
.links h2
{
    font-size: 15px;
    font-family:sans-serif;
}
.far
{
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.google
{
    padding: 10PX 10px;
    width: 165px;
    font-size: 10px;
    background: white;
    border: none;
    border-radius: 3px;
}
.EF {
    margin-top: 10px;
    padding: 10PX 10px;
    background: linear-gradient(to right, #FB7B30,#A831A5 );
    color: white;
    width: 150px;
    font-size: 10px;
    border: none;
    border-radius: 3px;
}
/****************************************************************************Style_Grid*******************************************************************************/
.d {
    margin-top: 40px;
    display: flex;
    gap: 17px;
    flex-direction: column;
}
.Pa {
    width: 100%;
}
.Pb {
    width: 100%;
}
.Pc {
    width: 100%;
}
.Pd {
    width: 100%;
}
.Pe {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}
.Pf {
    width: 100%;
}
.Pg {
    width: 100%;
    margin-top: 0px;
}


/******************************************************************************Style_Footer**************************************************************************/
.e {
    background-color: black;
    color: white;
    display: flex;
    margin-top: 20px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}


.p {
    padding: 10px;
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa {
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 5px 5px;
}

.e ul {
    list-style: none;
    margin: 10px 97px;
    font-size: 13px;
    font-family: sans-serif;
}

.e ul li 
{
    margin: 10px 10px;
}

.copy-right
{
    color: gray;
    font-size: 10px;
    text-align: center;
    height: 100px;
    margin-top: 10px;
    height: 200px;
}

.e ul li a
{
    color: white;
}

}
/******************************************************************Responsivité*****************************************************************/
/******************************************************************