.corps
{
    margin: 0 120px;
      
    
  
}

/************************************************************style  nav************************************************************/

.navigation
{
    display: flex;
    height: 20px;
    font-size: 25px;
   
}

a
{
    text-decoration: none;
    color: black;
}
 .option
{
    margin: 0 60px;
    display: flex;
    
}

nav select
{
    margin: 0 30px;
    border: none;
    font-size: 20px;
}

.inscription
{
    margin-left:  440px;
    display:flex;
    
}
 nav ul li a
 {
     margin: 0 30px;
     text-decoration: none;
 }

nav ul li
{
    list-style:none;
}
button
{
    margin: 0 20px;
    
}
.s button
{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    width: 110px;
    height: 40px;

}
.l button
{
    border: none;
    color: black;
    background-color: white;
    width: 70px;
}
.s a
{
    color: white;
    font-size: 20px;
}
.l a
{
    font-size: 20px;
}

/****************************************************************************style header*************************************************************************/
header
{
   
    background-color: black;
    border-radius: 5px;
    color: white;
    height: 380px;
   

    
    
}
h1
{
    font-size: 50px;
}
.referral p
{
    font-size: 20px;
}
.referral
{
    
    margin: 40px 30px;
    padding-top: 50px;
}
.fg
{
    display: flex;
    
}
.find select
{ 
    font-size: 15px;
    margin: 0 15px;
    height: 50px;
    width: 430px;
    border: none;
    border-radius: 3px;
    color: gray;

}

.get input
{
    font-size: 15px;
    background: linear-gradient(to right,#FB7B30,#A831A5);
    color: white;
    height: 50px; 
    width: 220px;
    border-radius: 5px;
    border:none;

}

.bear img
{
   
    display: flex;
    width: 600px;
    height: 490px;
    margin-left: 360px;
    margin-top: -280px;

}
/*********************************************************************************Style_Logo****************************************************************************/
.a 
{
    
    margin: 140px 0;
}
.logo 
{
    gap: 95px;
    display: flex;
    
}
.logo img
{
    width: 201px;
    height: 80px;
   
}
/****************************************************************************Style Cash Rewards****************************************************************************/
.b
{
    
    margin: 80px 0;
    display: flex;
}
.gauche
{
    width: 30%;
}
.texte
{
    width: 40%;
    padding: 40PX 70px;
}
.droite
{
    width: 30%;  
}
.gauche img
{
    width: 100%;
    height: 100%;
}
.texte .t
{
    width: 100%;

}


.droite img
{
   width: 100%; 
   height: 100%;
}

.texte h2 
{
    font-size: 23px;
}
.t img
{
    width: 30px;
    height: 30px;
   
}
.texte .far
{
    font-size: 15px;
    border-radius: 50%;
    background:linear-gradient(to right,#FB7B30,#A831A5) ;
    color: white;
    border: none;
}
.texte p
{
    font-size: 20px;
}
.texte input
{
    background:linear-gradient(to right, #FB7B30,#A831A5 ) ;
    color: white;
    margin: 60PX 175px;
    border: none;
    border-radius: 5px;
    padding: 8PX 10px ;
    height: 50px;
    width: 230px;
    font-size: 17px;
    
}

/*****************************************************************************Style_Links******************************************************************************/
.c
{
    background-color: black;
    color: white;
    display: flex;
    height: 370px;
    padding: 6px 60px;
    border-radius: 5px;
}

.photo img
{
   width:   120%; 
   height: 140%;
   margin-top: -55px;
   margin-left: 50px;
}

.links h1
{
    font-size: 50px;
    font-family:sans-serif;
}
.links h2
{
    font-size: 25px;
    font-family:sans-serif;
}
.far
{
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.google
{
    padding: 10PX 10px;
    width: 260px;
    font-size: 15px;
    background: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    
}
.EF
{
    padding: 10PX 10px;
    background: linear-gradient(to right, #FB7B30,#A831A5 ) ;
    color: white;
    width: 260px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    height: 40px;
}
/****************************************************************************Style_Grid*******************************************************************************/
.d
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 460px 330px 430px 340PX;
    grid-gap: 25px;
    grid-template-rows: auto auto;
    
    
}
.Pa 
{
width: 460PX;
grid-column: 1 / 2;
grid-row: 1 / 2;
}

.Pb 
{
width: 330PX;
grid-column: 2/ 3;
grid-row: 1 / 3;
}

.Pc 
{
width: 430px;
grid-column: 3 / 4;
grid-row: 1 / 2;
}

.Pd
{
width: 340px;
grid-column: 4 / 5;
grid-row: 1 / 2;
}

.Pe
{
margin-top: -50px;
margin-left: 110px;
width:350px;
grid-column: 1 / 2;
grid-row: 2 / 3;
}

.Pf 
{
width: 430px;;
grid-column: 3 / 4;
grid-row: 2 / 3;
}

.Pg 
{
margin-top: -80px;   
width: 340px;
grid-column: 4 / 5;
grid-row: 2 / 3;
margin-right: -90px;
}
/******************************************************************************Style_Footer**************************************************************************/
.e 
{
    background-color: black;
    color: white;
    display:  flex;
    padding: 40px;
    margin-top: 60px;
    height: 180px;
    font-size: 20px;
    border-radius: 5px;
    
}


.p
{
   padding-right:  80px;
   font-family: sans-serif;
   font-size: 20px;

}
.fa {
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 5px 5px;
}

.e ul
{
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    font-family: sans-serif;
}

.e ul li
{
    margin: 10px 10px;
}

.copy-right
{
    color: gray;
    font-size: 20px;
    text-align: center;
}
.e ul li a
{
    color: white;
}



/*******************************************************************************Responsivité*************************************************************************/
/**********************************************************************************mobile**************************************************************/
@media (max-width: 760px)
{
    
    .corps {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 100%;
    }
    .navigation {
        display: flex;
        height: 20px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 200PX;
    }
    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-right: 100px;
    }
    nav ul li {
        list-style: none;
        margin-top: 10px;
    }
    nav select {
        border: 1px solid black;
        margin-top: 10px;
        border-radius: 5px;
    }
    .inscription {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    .l button {
        border: 1px solid black;
        color: black;
        background-color: white;
        width: 90px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .s button {
        border-radius: 5px;
        border: none;
        color: white;
        background-color: black;
        width: 90px;
        margin-top: 10px;
    }
    header {
        background-color: black;
        color: white;
        height: 560PX;
        width: 100%;
        padding: 21px;
        margin-top: 55px;
    }
    .referral {
        margin: 40px 54px;
    }
    
    .fg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .find select {
        font-size: 11px;
        margin: 0 10px;
        height: 30px;
        width: 290px;
        border: none;
        border-radius: 3px;
    }
    .get input {
        font-size: 11px;
        background: linear-gradient(to right,#FB7B30,#A831A5);
        color: white;
        margin: 0 1px;
        height: 30px;
        width: 150px;
        border-radius: 5px;
        border: none;
    }
    .get
    {
        margin-top: 10px;
    }

   .bear img {
    margin-top: 160px;
    display: flex;
    width: 100%;
    height: 340px;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
}
/*********************************************************************************Style_Logo****************************************************************************/
.a {
    margin-top: 390PX;
}
.logo {
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 80%;
    height: 100%;
}
/****************************************************************************Style Cash Rewards****************************************************************************/
.b {
    margin: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte {
    padding: 40PX 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauche img {
    width: 100%;
}
.gauche
{
    width: 100%;
}
.droite
{
    width: 100%;
}

.texte .t
{
    width: 100%;

}
.droite img
{
   width: 100%; 
  
}


.texte h2 
{
    font-size: 15px;
}
.t img
{
    width: 30px;
    height: 30px;
   
}
.texte .far
{
    font-size: 15px;
    border-radius: 50%;
    background:linear-gradient(to right,#FB7B30,#A831A5) ;
    color: white;
    border: none;
}
.texte p
{
    font-size: 15px;
}
.texte input
{
    background:linear-gradient(to right, #FB7B30,#A831A5 ) ;
    color: white;
    margin: 40PX 115px;
    border: none;
    border-radius: 5px;
    padding: 8PX 10px ;
}

/*****************************************************************************Style_Links******************************************************************************/
.c {
    background-color: black;
    color: white;
    display: flex;
    height: 370px;
    padding: 6px 20px;
    flex-direction: column;
    align-items: center;
}
.links
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.photo img {
  display: none;
}

.links h1
{
    font-size: 30px;
    font-family:sans-serif;
}
.links h2
{
    font-size: 15px;
    font-family:sans-serif;
}
.far
{
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.google
{
    padding: 10PX 10px;
    width: 165px;
    font-size: 10px;
    background: white;
    border: none;
    border-radius: 3px;
}
.EF {
    margin-top: 10px;
    padding: 10PX 10px;
    background: linear-gradient(to right, #FB7B30,#A831A5 );
    color: white;
    width: 150px;
    font-size: 10px;
    border: none;
    border-radius: 3px;
}
/****************************************************************************Style_Grid*******************************************************************************/
.d {
    margin-top: 40px;
    display: flex;
    gap: 17px;
    flex-direction: column;
}
.Pa {
    width: 100%;
}
.Pb {
    width: 100%;
}
.Pc {
    width: 100%;
}
.Pd {
    width: 100%;
}
.Pe {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}
.Pf {
    width: 100%;
}
.Pg {
    width: 100%;
    margin-top: 0px;
}


/******************************************************************************Style_Footer**************************************************************************/
.e {
    background-color: black;
    color: white;
    display: flex;
    margin-top: 20px;
    height: 650px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}


.p {
    padding: 10px;
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa {
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 5px 5px;
}

.e ul {
    list-style: none;
    margin: 10px 97px;
    font-size: 13px;
    font-family: sans-serif;
}

.e ul li 
{
    margin: 10px 10px;
}

.copy-right
{
    color: gray;
    font-size: 10px;
    text-align: center;
    height: 100px;
    margin-top: 10px;
    height: 200px;
}

.e ul li a
{
    color: white;
}


}
/******************************************************************Responsivité*****************************************************************/
/******************************************************************i-pad********************************************************************/
@media (min-width:760px) and ( max-width:1400px)
{
    .corps {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 100%;
    }
    .navigation {
        display: flex;
        height: 20px;
        flex-direction: row;
        padding-bottom: 10PX;
        align-items: flex-end;
        margin-top: 15px;
    }
    .option {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-right: -75px;
        margin: 0 0px;
        
        
    }
    nav ul li a {
        margin: 0 10px;
        text-decoration: none;
    }
    nav ul li {
        list-style: none;
        margin-top: 10px;
    }
    nav select {
        border: 1px solid black;
        margin-top: 10px;
        border-radius: 5px;
    }
    .inscription {
        display: flex;
        flex-direction: row;
        align-items: center;
         margin-left: 0px;
        
    }
    .l button {
        border: 1px solid black;
        color: black;
        background-color: white;
        width: 70px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .s button {
        border-radius: 5px;
        border: none;
        color: white;
        background-color: black;
        width: 70px;
        margin-top: 10px;
    }
    header {
        background-color: black;
        color: white;
        height: 330PX;
        width: 100%;
        padding: 21px;
    }
    .referral {
        margin: 0px 0px;
        padding-top: 0px;
    }
    .fg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .find select {
        font-size: 11px;
        margin: 0 10px;
        height: 30px;
        width: 290px;
        border: none;
        border-radius: 3px;
    }
    .get input {
        font-size: 11px;
        background: linear-gradient(to right,#FB7B30,#A831A5);
        color: white;
        margin: 0 1px;
        height: 30px;
        width: 150px;
        border-radius: 5px;
        border: none;
    }
    .get
    {
        margin-top: 10px;
    }

   .bear img {
  display: none;
}
/*********************************************************************************Style_Logo****************************************************************************/
.a {
    
    margin: 50px 0;
}
.logo {
    gap: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto auto;
}

.logo img {
    width: 80%;
    height: 100%;
}
/****************************************************************************Style Cash Rewards****************************************************************************/
.b {
    margin: 45px -5px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
}

.texte {
    padding: 40PX 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gauche img {
    width: 100%;
}
.gauche
{
    width: 100%;
}
.droite
{
    width: 100%;
}

.texte .t
{
    width: 100%;

}
.droite img
{
   width: 100%; 
  
}


.texte h2 
{
    font-size: 15px;
}
.t img
{
    width: 30px;
    height: 30px;
   
}
.texte .far
{
    font-size: 15px;
    border-radius: 50%;
    background:linear-gradient(to right,#FB7B30,#A831A5) ;
    color: white;
    border: none;
}
.texte p
{
    font-size: 15px;
}
.texte input
{
    background:linear-gradient(to right, #FB7B30,#A831A5 ) ;
    color: white;
    margin: 40PX 115px;
    border: none;
    border-radius: 5px;
    padding: 8PX 10px ;
}

/*****************************************************************************Style_Links******************************************************************************/
.c {
    background-color: black;
    color: white;
    display: flex;
    height: 370px;
    padding: 6px 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.links
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.photo img {
  display: none;
}

.links h1
{
    font-size: 30px;
    font-family:sans-serif;
}
.links h2
{
    font-size: 15px;
    font-family:sans-serif;
}
.far
{
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.google
{
    padding: 10PX 10px;
    width: 165px;
    font-size: 10px;
    background: white;
    border: none;
    border-radius: 3px;
}
.EF {
    margin-top: 10px;
    padding: 10PX 10px;
    background: linear-gradient(to right, #FB7B30,#A831A5 );
    color: white;
    width: 150px;
    font-size: 10px;
    border: none;
    border-radius: 3px;
}
/****************************************************************************Style_Grid*******************************************************************************/
.d
{
    margin-top: 100px;
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 17px;
    grid-template-rows: auto auto auto auto;
    
    
}
.Pa {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.Pb {
    width: 100%;
    grid-column: 2/ 3;
    grid-row: 1 / 2;
}
.Pc {
    margin-top: -440PX;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


.Pd {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.Pe {
    margin-top: -380px;
    margin-left: 0px;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.Pf {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.Pg {
    margin-top: -416px;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 400px;
}


/******************************************************************************Style_Footer**************************************************************************/
.e {
    background-color: black;
    color: white;
    display: flex;
    margin-top: 20px;
    height: 910px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
}


.p {
    padding: 10px;
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa {
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 5px 5px;
}

.e ul {
    list-style: none;
    margin: 10px 97px;
    font-size: 13px;
    font-family: sans-serif;
}

.e ul li 
{
    margin: 10px 10px;
}

.copy-right
{
    color: gray;
    font-size: 10px;
    text-align: center;
    height: 100px;
    margin-top: 10px;
    height: 200px;
}

.e ul li a
{
    color: white;
}


}